html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
form {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
}

main,
form {
  background: #1F2937;
  display: flex;
}

form {
  padding: 1.5em 0.875em;
}

button {
  width: 123px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #3D4B60;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.wrapper {
  max-width: 550px;
  position: relative;
}

.color-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.color {
  min-height: 414px;
  cursor: pointer;
}

.color-input {
  width: 61px;
  min-height: 42px;
  cursor: pointer;
}

.color-name {
  font-size: 0.75rem;
  color: #D5D4D8;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 0.75rem 0;
}

.message {
  position: absolute;
  top: 144px;
  left: 0;
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

/***
 Custom dropdown select start 
*/

/* The container must be positioned relative: */

.custom-select {
  display: inline-block;
  position: relative;
  font-weight: 400;
  width: 312px;
  margin: 0 0.75rem;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: #1F2937;
  color: #D5D4D8;
  border: solid #D1D5DB 1px;
  border-radius: 6px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  background-image: url("./images/Selector-down.png");
  background-size: 20px 20px;
  top: 10px;
  float: right;
  width: 20px;
  height: 20px;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  background-image: url("./images/Selector.png");
  background-size: 20px 20px;
  top: 7px;
  float: right;
  width: 20px;
  height: 20px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  line-height: 1.5;
  color: #ffffff;
  padding: 8px 16px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #1F2937;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

/* Style the checkmark inside the option element and selected option element: */
.same-as-selected {
  font-weight: 600;
}

.same-as-selected::after {
  position: relative;
  content: "";
  background-image: url("./images/Check.png");
  background-size: 20px 20px;
  top: 6px;
  float: right;
  width: 20px;
  height: 20px;
}

.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Custom dropdown select end */

@media screen and (max-width: 550px) {
  main {
    flex-direction: column;
  }

  form {
    padding-bottom: 0;
    flex-direction: column;
  }

  button {
    display: inline-block;
    width: 120px;
    align-self: end;
    margin-top: 1.5rem;
    height: 42px;
    order: 2;
  }

  .wrapper {
    width: 90%;
  }

  .color {
    min-height: 70px;
  }

  .custom-select {
    margin: 0;
    width: 100%;
  }

  .color-input {
    width: 120px;
    position: relative;
    bottom: 42px;
    display: inline-block;
    order: 3;
    align-self: auto;
  }

  .message {
    color: #D1D5DB;
  }
}

@media screen and (max-width: 350px) {
  .message {
    font-size: 0.8rem;
  }
}