html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
form,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

form {
  background: #1F2937;
  padding: 1.5em 0.875em;
  display: flex;
}

main {
  background: #1F2937;
  display: flex;
}

button {
  width: 123px;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 550px;
}

.color-container {
  flex: 1;
}

.color {
  min-height: 414px
}

.color-name {
  text-align: center;
}

.color-scheme {
  display: inline-block;
  position: relative;
  width: 312px;
}

.color-scheme--select {
  background-color: #1F2937;
  font-weight: 400;
  cursor: pointer;
  color: #D5D4D8;
  /* padding: .5em .875em; */
  /* appearance: textfield; */

}

.color-scheme>option {
  /* background-color: #1F2937; */
  font-size: 44px;
}